<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Black</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>


  <header>
    <div class="container">
      <div class="heading clearfix">
        <img src="img/pip.png" alt="Pipolipo" class="logo">
        <nav>
          <ul class="menu">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="#">Of Guitar</a>
            </li>
            <li>
              <a href="#">Information</a>
            </li>
            <li>
              <a href="gip.html">About</a>
            </li>
            <li>
              <a href="maps.html">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="titles">
        <div class="titles_first">Welcom To Our Studio!
        </div>
        <h1>
          It's nice to Meet you
        </h1>
      </div>
      <a class="button" href="cont.html">Tell me more</a>
    </div>
  </header>
  <section id="services">
    <div class="container">
      <div class="title">
        <h2>
          My Contact Details
        </h2>
      
      </div>
  <div style="display: flex;">

      <div class="services">
        <div class="services_item">
          <a href="https://www.instagram.com/mk_i69/">
          <img src="img/insta.jpg" alt="Instagram">
          </a>
          <a href=https://www.instagram.com/mk_i69/""><h3>mk_i69</h3></a>
          
        </div>
      </div>
    <div class="services">
        <div class="services_item">
          <a href="https://vk.com/i_am_betmen_2">
          <img src="img/vk.png" alt="Vkontakte">
          <a href="https://vk.com/i_am_betmen_2"><h3>Максим Кім</h3></a>
         
        </div>
      </div>
      <div class="services">
        <div class="services_item">
          
          <img src="img/skp.png" alt="Skype">
          </a>
          <h3>fingermaximus99</h3>
          
        </div>
      </div>
    <div class="services">
        <div class="services_item">
          <a href="https://www.facebook.com/max.kim.568294">
          <img src="img/face.png" alt="Facebook">
          <a href="https://www.facebook.com/max.kim.568294"><h3>Max Kim</h3></a>
         
        </div>
    </div>
  </div>
  <footer>
<div class="audioplayer audioplayer-stopped">
  <audio src="sou1.mp3" preload="auto" controls></audio><br>
    <audio src="sou.mp3" preload="auto" controls></audio>
  <div class="audioplayer-playpause" title="Play">

    <div class="audioplayer-bar">

        <div class="audioplayer-bar-loaded"></div>

        <div class="audioplayer-bar-played"></div>

    </div>

    <div class="audioplayer-volume">

        <div class="audioplayer-volume-button" title="Volume"></div>

        <div class="audioplayer-volume-adjust"><div><div></div></div></div>

    </div>

</div>

  </footer>
</body>
</html>