<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Black</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>


  <header>
    <div class="container">
      <div class="heading clearfix">
        <img src="img/pip.png" alt="Pipolipo" class="logo">
        <nav>
          <ul class="menu">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="#">Of Guitar</a>
            </li>
            <li>
              <a href="#">Information</a>
            </li>
            <li>
              <a href="gip.html">About</a>
            </li>
            <li>
              <a href="maps.html">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="titles">
        <div class="titles_first">Welcom To Our Studio!
        </div>
        <h1>
          It's nice to Meet you
        </h1>
      </div>
      <a class="button" href="cont.html">Tell me more</a>
    </div>
  </header>

    <footer>
     <section id="services">
        <div class="container">
          <div class="title">
            <h2>
              Variety Guitar
            </h2>
            <p>
            Information
           </p>
          </div>
        </div>

        <div>
          <img src="img/12.jpg" width="900" height="500"  alt="Иллюстрация" style="margin-left: 180px;">
      </div>

      <section id="services">
        <div class="container">
          <div class="title">
            <h2>
              Some of Variety Guitar's
            </h2>
            <p>
            Information
           </p>
          </div>
        </div>
        Естрадна(Дредноут (англ. dreadnought - безстрашний)) — вид акустичних гітар, що відрізняється збільшеним грифом та корпусом характерної «прямокутної» форми. В порівнянні з класичним корпусом має підвищену гучність і переважання низьких частот в тембрі. Розроблений в 20-х роках XX століття фірмою «Мартін» і досі вважається стандартом в гітаробудуванні.<br><br>

        У 20-х роках використовувався в основному для «кантрі» і популярно-естрадної музики. У 50-х разом з іншими фолк-гітарами також використовувався для домашніх або бардівских стилів, акустичного блюзу. Назва походить від назви американських кораблів Першої світової війни<br><br>

        У наш час дуже популярна гра на гітарі з металевими струнами, а значить і акустичні гітари дредноут.<

        Дредноут - це вид акустичних гітар з металевими струнами, а точніше різновид фолк-гітар, так само називаються Вестерн або Кантрі.

        Дредноути мають корпус «прямоугольної» форми, він більше, в порівнянні з корпусом класичною гітарою, гриф більш вузький, порівняно з класикою і має анкерний стрижень.

        Так само є варіанти дредноутів з вирізом під підставою грифа, це полегшує доступб при грі на останніх ладах.

        Дредноути, як і класичні гітари, налаштовуються на стандартний лад.

        Так як натяг у металевих струн більше ніж у нейлонових, ці гітари, як правило, дуже міцні і виготовлені з певних порід дерева.

        На дредноутах в основному грають медіатором і щоб не пошкодити корпус, на верхній деці встановлюється спеціальна накладка<br><br>

        Звук у дредноутів з переважанням низьких частот і дуже гучний, тому що такі гітари були винайдені в ті часи, коли підсилювачів не було, а для виступів на сценах був потрібний потужний і рокочучий звук.

        На таких гітарах грають в різноманітних стилях, на них відмінно звучить рок-н-рол та інші напрямки, в яких важливий драйв. Так само для дредноутів, характерно виконання музичного супроводу.

        Дредноути широко використовуються професіоналами, які грають в некласичних стилях.
</footer>
</html>
