<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Black</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>


  <header>
    <div class="container">
      <div class="heading clearfix">
        <img src="img/pip.png" alt="Pipolipo" class="logo">
        <nav>
          <ul class="menu">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="#">Of Guitar</a>
            </li>
            <li>
              <a href="#">Information</a>
            </li>
            <li>
              <a href="gip.html">About</a>
            </li>
            <li>
              <a href="maps.html">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="titles">
        <div class="titles_first">Welcom To Our Studio!
        </div>
        <h1>
          It's nice to Meet you
        </h1>
      </div>
      <a class="button" href="cont.html">Tell me more</a>
    </div>
  </header>
  <footer>
  <section id="services">
    <div class="container">
      <div class="title">
        <h2>
          About Me
        </h2>
        <p>
          Little Information Of Me
        </p>
      </div>
      <div>
          <img src="img/km.jpg" width="600" height="400" alt="Иллюстрация" style="margin-left: 165px;">
          <p>
            Мене звати Максим,мені 18 років.Я навчаюсь в Технічно Коледжі ТНТУ ім.Полюя.Займався колись спортом,тепер граю настільний тенніс,складаю кубік рубік і граю на гітарі.Люблю подорожувати,віддихати,і проводити вільний час з друзями.
          </p>
      </div>
  </footer>
  </html>