<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" href="images/logo.png" type="image/png">
	<meta charset="UTF-8">
	<title>All of Guitar's</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>


	<header>
		<div class="container">
			<div class="heading clearfix">
				<img src="img/pip.png" alt="Pipolipo" class="logo">
				<nav>
					<ul class="menu">
						<li>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Of Guitar</a>
						</li>
						<li>
							<a href="#">Information</a>
						</li>
						<li>
							<a href="gip.html">About</a>
						</li>
						<li>
							<a href="maps.html">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="titles">
				<div class="titles_first">Welcom To Our Studio!
				</div>
				<h1>
					It's nice to Meet you
				</h1>
			</div>
			<a class="button" href="cont.html">Tell me more</a>
		</div>
	</header>

	<section id="services">
		<div class="container">
			<div class="title">
				<h2>
					About Guitar's
				</h2>
				<p>
					Little Information Of Guitar's
				</p>
			</div>
		<div style="display: flex;">

		<div class="services">
				<div class="services_item">
					<a href="clasic.html">
					<img src="img/gui.png" alt="Класична">
					</a>
					<a href="clasic.html"><h3>Класична</h3></a>
					<p>
						Класична гітара- основний представник сімейства гітар, щипковий струнний музичний інструмент басового, тенорового і сопранового регістрів.Використовується як акомпанувальний, сольний і ансамблевий інструмент.
					</p>
				</div>
			</div>
		<div class="services">
				<div class="services_item">
					<a href="es.html">
					<img src="img/gui1.png" alt="Естрадна">
					<a href="es.html"><h3>Естрадна гітара</h3></a>
					<p>
						Естрадна гітара має вужчий гриф, ніж класична. Спосіб кріплення струн може так само відрізнятися від способу, використовуваного в класичній гітарі. Струни на естрадних гітарах, переважно, металеві.
					</p>
				</div>
			</div>
			<div class="services">
				<div class="services_item">
					<a href="acustic.html">
					<img src="img/piv.png" alt="Напівакустична">
					</a>
					<a href="acustic.html"><h3>НапівАкустична Гітара</h3></a>
					<p>
						Напів Акустична Гітара - струнний щипковий музичний інструмент з сімейства гітар, звучання якого здійснюється завдяки коливанню струн, що підсилюється за рахунок резонирования полого корпусу.
					</p>
				</div>
			</div>
		<div class="services">
				<div class="services_item">
					<a href="el.html">
					<img src="img/gui2.png" alt="Електро">
					<a href="el.html"><h3>Електро</h3></a>
					<p>
						Електрогітара — електричний музичний інструмент, різновид гітари з електричними звукознімачами, що перетворюють коливання металевих струн на коливання електричного струму.
					</p>
				</div>
		</div>
	</div>
	</section>
	<section id="Portfolio">
		<div class="container">
			<div class="title">
				<h2>
					Our Studio
				</h2>
				<p>
					Short Guitar Films
				</p>
			</div>
			<div class="works">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/BOUpNtk5Spk" Класична гітара поєднує в собі багатокласовий музичний інструмент,яким можна не тіки грати на гітарі frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/EGtDE37Nt_k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/EzqqGLHKcLs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</section>
	<section id="">
		<div class="container">
		</div>
	</section>
	<section>
		<div class="container">
		</div>
	</section>
	<footer>
		<div class="container">
		</div>
	</footer>
</body>
</html>
				