<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Black</title>
      <link rel="stylesheet" href="css/main.css">
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
     <header>
    <div class="container">
      <div class="heading clearfix">
        <img src="img/pip.png" alt="Pipolipo" class="logo">
        <nav>
          <ul class="menu">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="#">Of Guitar</a>
            </li>
            <li>
              <a href="#">Information</a>
            </li>
            <li>
              <a href="gip.html">About</a>
            </li>
            <li>
              <a href="maps.html">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="titles">
        <div class="titles_first">Welcom To Our Studio!
        </div>
        <h1>
          It's nice to Meet you
        </h1>
      </div>
      <a class="button" href="cont.html">Tell me more</a>
    </div>
  </header>
  <footer>
    <div class="title">
        <h2>
          Google Maps Coordinates
        </h2>
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2929.3029114484125!2d25.59777871575541!3d49.54411226013247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473036af010577ab%3A0x79245ef969358572!2z0YPQuy4g0JDQvdCw0YLQvtC70LjRjyDQltC40LLQvtCy0LAsIDYsINCi0LXRgNC90L7Qv9C-0LvRjCwg0KLQtdGA0L3QvtC_0L7Qu9GM0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDQ2MDAy!5e1!3m2!1sru!2sua!4v1518202317070" width="1250" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
  </footer>
  </body>
</html>